.footer {
  display: flex;
  flex-direction: column;
}

.footer__text {
  font-size: 10px;
}

.footer__box {
  display: flex;
  flex-direction: column;
}

.cc {
  display: flex;
  flex-direction: column;
}
