* {
    margin: 0 auto;
    // max-width: 1100px;
    background-color: #fff;

    @media (max-width: 375px) {
        max-width: 375px;
    }
}


.attractions {
    cursor: pointer;
    max-width: 126px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.filter-title {
    font-size: 30px;
    color: #000;
}


body {
    height: 1024px;
    overflow-x: hidden;
}

.container {
    margin-left: 300px;
    margin-right: 300px;
}



a {
    text-decoration: none;
    outline: none;
}

li {
    list-style: none;
}

.header__link:hover a {
    color: #a16901;
}

.pagination{
    
    display: flex;
}

.paginate__cards{
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 420px){
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        }
}
.header {



    // dddddddddddddddddddddddddddddddddddddd

    width: 1921px;


    font-family: "Inter";


    &__logo {
        padding-left: 130px;
        padding-top: 40px;

    }


    &__menu-list {
        display: flex;
    margin-top: -80px; 
    /* margin-left: -135px; */
     max-width: 600px; 
    align-items: center;
    flex-direction: row;
    gap: 20px;
    

        @media (max-width: 375px) {
            top: 60px;
            left: -75px;
            max-width: 100px;
        }

        a {
            color: #1B1F2A;
            font-size: 25px;
            font-family: "LXGW WenKai TC"

        }


        @media (max-width: 1440px) {
           
            display: flex;
            position: relative;
            margin-left: 72px;
            flex-direction: column;
            align-items: center;
    top: 100px;

        
            
        }


    }



    &__link {

        color: #1B1F2A;
        display: flex;

        a {
            color: #1B1F2A;
            font-size: 25px;
            font-family: "LXGW WenKai TC"
        }

        @media (min-width: 2560px) {

            display: flex;

            width: fit-content;
        }

        @media (min-width: 1440px) {
            display: flex;
            position: relative;
            padding-right: 150px;

        }

        @media (max-width: 375px) {}

    }

    // &__link1{
    // transition: all 2s;
    // }



    &__title {
        margin-bottom: 75px;
        font-size: 36px;
        position: relative;

        font-family: "LXGW WenKai TC"
    }

    &__text {
        font-size: 32px;
        position: relative;
    }

    &__logsearch {
        display: flex;
        position: relative;
        left: 265px;

        @media (min-width: 2560px) {
            max-width: 560px;
            display: flex;
            position: relative;
            left: 250px;
        }

        @media (max-width: 1440px) {
            max-width: 560px;
            display: flex;
            position: relative;
            margin-right: 150px;
            margin-bottom: 50px;

        }
    }






    &__toggle {
        opacity: 0;
    }

    &__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    &__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    &__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    &__toggle:checked~.menu__box {
        left: 0 !important;
    }

    &__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    &__btn>span,
    &__btn>span::before,
    &__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    &__btn>span::before {
        content: '';
        top: -8px;
    }

    &__btn>span::after {
        content: '';
        top: 8px;
    }

    &__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }

    &__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    &__item:hover {
        background-color: #CFD8DC;
    }









    &__mini-background {
        height: 100%;
        width: 100%;
        z-index: 0;
        position: relative;
        right: 500px;
    }






    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    &__searchbar {
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        width: 50%;
        box-sizing: border-box;
    }

    &__list-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__link-kink {
        font-size: 1.2em;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        animation: fadeIn 0.5s ease-in-out;
    }

    &__link-kink:last-child {
        border-bottom: none;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }




    &__icon {

        display: none;
        width: 30px;
        height: 18px;

        position: relative;
        z-index: 5;
        cursor: pointer;

        span {
            color: #000;
            display: none;

            @media (max-width: 420px) {
                display: block;
            }

            position: absolute;
            top: calc(50% - 1px);
            right: 1010px;
            width: 100%;
            height: 2px;
            background-color: #333;

            &:first-child {
                top: 0;

            }

            &:last-child {
                top: auto;
                bottom: 0;

            }
        }
    }

    &__menu-link {
        @media (max-width: 425px) {
            // display: none;
            position: relative;
            left: 100px;
        }
    }

    &__menu-link1{
        @media (max-width: 425px) {
            position: relative;
        left: 85px; 
        }
        
    }

    &__menu-link2 {



        top: 0;
        // right: -100%;
        height: 100vh;
        width: 250px;
        background-color: rgba(0, 0, 0, .8);
        // display: flex;
        overflow: auto;
        transition: all 2s;

        &.active {
            left: 0;
        }

        @media (max-width: 375px) {
            display: none;
        }

    }



}

.menu {
    &__item {
        margin-bottom: 60px;
        color: #fff;
        display: flex;
        position: relative;
        left: 60px;

        a {
            color: #fff;
            font-size: 15px;
            font-family: "LXGW WenKai TC"
        }

        @media (min-width: 2560px) {
            width: 2560px;
            display: flex;

            width: fit-content;
        }

        @media (min-width: 1440px) {
            display: flex;
            position: relative;
            padding-right: 150px;

        }

        @media (max-width: 320px) {}
    }


    &__body {

        position: absolute;

        top: 0;
        left: -100%;
        height: 100vh;
        width: 250px;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        overflow: auto;
        transition: all 2s;

        @media (max-width: 375px) {
            display: none;
        }
    }

    &.active {
        left: 0;

    }

    &__list {
        list-style: none;
        display: flex;
        gap: 30px;

        flex-direction: column;
        gap: 0;
        margin: auto;

    }

    &__link {
        color: #fff;
        text-decoration: none;
        position: relative;
        right: 120px;

        &:hover {
            text-decoration: underline;
        }

        display: block;
        flex: 30px;
        line-height: 0;
    }


}


#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.filter {
    &__nav-content {
        display: flex;
        flex-direction: column;
        display: none;
        position: absolute;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        min-width: 200px;
        font-size: 18px;

        background-color: rgba(0, 0, 0, .4);
    }



    &__container {
        position: relative;
        display: inline-block;
        left: 800px;
        top: -55px;
    }

    &__inp {
        margin-bottom: 610px;
        gap: 50px;


        &:active {
            gap: 1px;
            // display: none;
        }
    }

    &__btn {
        border: none;
        cursor: pointer;
        position: relative;
        top: -17px;

        @media (max-width: 375px) {
            position: relative;
            left: 0;
            display: flex;
            position: relative;
            left: -648px;
            top: 110px;
            margin-bottom: 90px;
        }
    }

}





.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    &__input_title {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        margin-top: 20px;
    }



    .containerId__img {
        display: none;
    }

    // .containerId__title {
    //     h1{
    //         color: #fff;
    //     }
    //     color: red;
    // }

    .main__Container-section {
        display: none;
    }

    .main__search {
        display: none;
        display:flex;
        color: #45a049;
    }

    .pagination {
        display: none;
        
    }

    .footershow {
        display: none;
    }

    .currentPage {
        display: none;
    }

    .nextBtn {
        display: none;
    }

    .previousBtn {
        display: none;
    }


    .filter {
        display: none;
    }

    .card {
        display: none;
    }

    .filter-title {
        display: none;
    }

    .search-box {
        display: none;
    }

    .main__input {
        display: none;
    }

    &__input_title1 {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        margin-top: 20px;
    }



    &__content {
        align-items: center;
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        top: 150px;
        position: relative;
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    &__close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    &__close:hover,
    &__close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


}

.show {
    display: block;
}


// .menu{
//     &__body{
//         @media(max-width: 768px) {
//             position: absolute;

//             top: 0;
//             left: -100%;
//             height: 100vh;
//             width: 250px;
//             background-color: rgba(0,0,0,.8);
//             display: flex;
//             overflow: auto;
//             transition: all 2s;
//         }
//         &.active {
//            left: 0;

//         }
//     }

//     &__list{
//         list-style: none;
//         display: flex;
//         gap: 30px;
//         @media (max-width: 768px) {
//             flex-direction: column;
//             gap: 0;
//             margin: auto;
//         }
//     }

//     &__link{
//         color: #fff;
//         text-decoration: none;
//         position: relative;
//         right:  120px;
//         &:hover{
//             text-decoration: underline;
//         }
//         @media (max-width: 768px) {
//             display: block;
//             flex: 30px;
//             line-height: 0;

//         }
//     }
// }

.demoPreloader {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;

}


.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;

    @media (max-width: 375px) {
        position: relative;
        top: 40px;
        left: -40px;
    }
}




.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.main__input {
    margin-bottom: 50px;
}

// .main__input{
//     position: relative;
//     top: -1400px;
// }

//   .main__input{
//     height: 50px;
//     width: 100px;
//     border-style: none;
//     padding: 10px;
//     font-size: 18px;
//     letter-spacing: 2px;
//     outline: none;
//     border-radius: 25px;
//     transition: all .5s ease-in-out;
//     display: none;
//     color:#000;
//     position: relative;
//     left: 600px;
//     top: -250px;
//   }
//   .main__input::placeholder{
//     color:rgba(255,255,255,.5);
//     font-size: 18px;
//     background-color: #616161;
//     padding: 10px 10px 10px 10px;
//     border-radius: 10px;
//     letter-spacing: 2px;
//     font-weight: 100;
//     display: none;
//   }
.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 20%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

//   .main__input:focus{
//     width: 300px;
//     border-radius: 0px;
//     background-color: transparent;
//     border-bottom:1px solid rgba(255,255,255,.5);
//     transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
//     display: none;
//   }

.btn-search {
    display: none;
}

.main {



    color: #aaa;

    &__container {
        max-width: 1200px;

        h2 {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }



    &__section {
        margin-bottom: 70px;
        display: flex;


        position: relative;
        top: 0px;
        transition: transform .2s ease-in-out;

        h1 {
            margin-bottom: 15px;
            font-size: 20px;
        }

        p1 {
            padding-left: 10px;
        }
    }
}


//   .main__input{
//     height: 50px;
//     width: 100px;
//     border-style: none;
//     padding: 10px;
//     font-size: 18px;
//     letter-spacing: 2px;
//     outline: none;
//     border-radius: 25px;
//     transition: all .5s ease-in-out;
//     display: none;
//     color:#000;
//     position: relative;
//     left: 115px;
//     top: -70px;

//     @media (max-width: 375px) {
//         top: -169px;
//         left: -416px;   
//     }
//   }
//   .main__input::placeholder{
//     color:rgba(255,255,255,.5);
//     font-size: 18px;
//     background-color: #333;
//     padding: 10px 10px 10px 10px;
//     border-radius: 10px;
//     letter-spacing: 2px;
//     font-weight: 100;
// display: none;
//   }
.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 20%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;

    @media (max-width: 375px) {
        position: relative;
        left: 2400px;
    }
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);


}


.filter{
    display: flex;
    align-items: center;
    justify-content: center;
}






// .modal {
//     align-items: center;
//     display: flex;
//     top: 0;
//     left: 0;
//     position: fixed;
//     justify-content: center;
//     width: 100%;
//     height: 100%;
//     background-color: rgb(0,0,0,0.5);
// }

// .modal_content {
//     color: #000;
// }

// .prev, .next {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     background-color: rgba(0, 0, 0, 0.5);
//     color: white;
//     border: none;
//     padding: 10px;
//     cursor: pointer;
//     font-size: 20px;
//     transition: background-color 0.3s;
// }

// .prev {
//     left: 10px;
// }

// .next {
//     right: 10px;
// }
// .slides {
//     display: flex;
//     transition: transform 0.5s ease-in-out;
// }

// .slide {
//     width: 1900px;
    
//     height: 480px;
//     min-width: 100%;
//     box-sizing: border-box;
// }

// .slider {
    
//     position: relative;
//     width: 80%;
//     max-width: 600px;
//     overflow: hidden;
//     border: 2px solid #ccc;
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
// }

// .slide img {
//     width: 100%;
//     display: block;
// }

// .what{
//     display: flex;
//     flex-direction: column;
//     padding-bottom: 100px;
// }

// .pagination{
//     align-items: center;
//     display: flex;
//     justify-content: center;
// }

.attraction {
    padding-bottom: 20px;



    // .containerId{
    //     display: flex;


    //     // &__title{
    //     // display: flex;
    //     // }



    //     // }
    //     // &__img{
    //     // display: flex;
    //     // }

}

.continerIText{
    color: darkblue;
}



.containerId {
    &__text {
        min-width: 450px;
        /* max-width: 133px; */
        margin-left: -200px;
        margin-bottom: 20px;
        padding: 30px;
        background-color: #77673d;
        box-shadow: 8px 8px 16px #333;
        border-radius: 20px;
    }


        @media (max-width: 420px) {
            font-size: 15px;
            max-width: 326px;
            min-width: 10px;
            position: relative;
            left: 120px;
            margin-bottom: 10px;
        }
    

    &__map {
        box-shadow: 8px 8px 16px #333;
        margin-left: -250px;
        position: relative;
        left: 40px;
        width: 600px;

        @media (max-width: 420px) {
            max-height: 50px;
            min-height: 10px;
            left: 120px;
            margin-bottom: 170px;
        }
    }

    // &__map:hover {
    //     display: flex;
    // }

    &__img {
        width: 700px;
        margin-bottom: 20px;
        box-shadow: 8px 8px 16px #333;
        cursor: pointer;
        margin-left: -225px;

        @media (max-width: 420px) {
            position: relative;
        max-width: 375px;
        left: 90px;
        }
    }

    .pagination button {
        margin: 0 5px;
        padding: 5px 10px;
        border: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

    &__title {
        min-width: 700px;
        margin-left: -100px;
        margin-bottom: 20px;
        margin-top: 100px;

        h1 {

            @media (max-width: 450px) {
                position: relative;
                left: -280px;
                font-size: 40px;
                align-items: center;
                justify-content: center;
                display: flex;
            }
        }



    }
}


//   .main__input:focus{
//     width: 300px;
//     border-radius: 0px;
//     background-color: transparent;
//     border-bottom:1px solid rgba(255,255,255,.5);
//     transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
//     display: none;
//     @media (max-width: 375px) {
//      width: 160px;   
//     }
//   }

.btn-search {
    display: none;
}



.id {
    background-color: #1B1F2A;

}

.main {
    &__all-sections {
        @media (max-width: 375px) {
            max-width: 375px;
        }
    }


    &__search {
        color: #333;
        font-family: "cursive";
        font-size: 20px;

    }


    &__revie {
        display: flex;
        flex-direction: column;
    }

    &__title {
        display: flex;

    }


    color: #aaa;

    &__container {
        max-width: 1200px;

        h2 {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }


    &__section {
        margin-bottom: 70px;
        display: flex;

        @media (max-width: 375px) {
            flex-direction: column;
            width: 475px;
            position: relative;
            left: -40px;
        }


        position: relative;
        top: 0px;
        transition: transform .2s ease-in-out;

        h1 {
            margin-bottom: 15px;
            font-size: 20px;
        }

        p1 {
            padding-left: 25px;
        }
    }


    &__revie {
        display: flex;
        margin-bottom: 15px;
        margin-right: 177px;
    }

    &__img {
        display: flex;
        margin-top: -60px;
        position: relative;
        left: 235px;
        top: -45px;

        @media (max-width: 375px) {
            display: flex;
            position: relative;
            top: 132px;
            left: -40px;

        }

    }


    &__button {
        display: inline-block;
        padding: 10px 25px;
        background-color: #333;
        text-align: center;
        color: #ccc;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        position: relative;
        transition: background-color 0.3s ease;
        position: relative;
        font-size: 23px;
        top: 50px;
        margin-bottom: 100px;

    }

    &__button::after {
        content: '→';
        position: absolute;
        right: -20px;
        opacity: 0;
        transition: opacity 0.3s ease, right 0.3s ease;
    }

    &__button:hover {
        background-color: #45a049;
    }

    &__button:hover::after {
        opacity: 1;
        right: 5px;
    }


    &__container-section {
        @media (max-width: 375px) {
            max-width: 182px;
            height: 300px;
            position: relative;
            align-items: center;

        }

        padding: 11px;
        position: relative;
        left: -40px;

        p {
            display: none;

        }
    }

    &__info {
        display: none;
    }

    &__btn {

        max-width: 150px;
        margin-top: 40px;
        float: left;
        padding: 10px 10px 17px 10px;
        position: relative;
        left: 0px;

        font-family: "Jost";
        font-size: 20px;


        a {
            color: #1B1F2A;
            font-family: "Jost"
        }
    }


    // &__wrapper{
    //     padding: 0 0 0 40px;
    //     z-index: 110;
    // }
}

.main__tittle {
    color: #1B1F2A;
    font-family: "Jost";
    width: 620px;
}

.attraction {
    min-width: 200px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
}

.filter {
    margin: 20px 0;
}



.footer {

    position: relative;
    height: 20px;

    width: 1920px;
    top: -60px;

    &__box {
        padding-top: 50px;
        padding-right: 80px;
        padding-left: 80px;

    }


    &__contacts {
        position: relative;
        left: 80px;
        top: 200px;

        @media (max-width: 470px) {
            left: 20px;
            top: 0;
        }

        h1 {
            font-family: "Jost";
            color: #fff;
            position: relative;
            left: 350px;
            padding-bottom: 30px
        }
    }


    &__contact {

        display: flex;
        max-width: 400px;
        position: relative;
        right: 354px;
        padding-bottom: 15px;
        color: #F8E5C0;
    }

    &__contact1 {
        display: flex;
        max-width: 400px;
        position: relative;
        right: 340px;
        padding-bottom: 15px;
        color: #F8E5C0;
    }

    &__contact2 {
        display: flex;
        max-width: 400px;
        position: relative;
        right: 358px;
        padding-bottom: 15px;
        color: #F8E5C0;
    }

    &__vK {
        position: relative;
        right: 5px;
    }

    &__tg {
        position: relative;
        right: 5px;
    }


    &__btn {
        display: flex;
        position: relative;
        top: 115px;
        left: 500px;
        color: #fff;
        background-color: #1B1F2A;
        padding: 10px 10px 10px 20px;
        max-width: 185px;
        border-radius: 10px;
        font-family: "Jost";
    }

    &__logo {
        display: flex;
        max-width: 250px;
        position: relative;
        left: 750px;
        top: 150px;

        @media (max-width: 475px) {
            left: -750px;
        position: relative;
        top: 80px;
        }

    }



    &__text {
        h1 {
            font-size: 10px;
            color: #aaa;
            font-family: "Jost";
            position: relative;
            display: flex;
            top: 115px;
            max-width: 400px;

            @media (max-width: 470px) {
                position: relative;
                left: -700px;
            }
        }
    }

    &__img {
        display: flex;
        padding-right: 20px;
    }

    &__img1 {
        display: flex;
        padding-right: 20px;
    }

    &__img2 {
        display: flex;
        padding-right: 20px;
    }




}

.main .header__menu-link:hover a {
    color: #a16901;
    text-decoration: solid underline;
}

.main__btn:hover a {
    text-decoration-line: underline;
    color: #a16901;
}


.modal {
    &__title {
        display: flex;
        font-size: 15px;
    }

    &__img {
        display: flex;
        height: 500px;
        width: 1200px;
        position: relative;
        left: -400px;

    }


    &__title__img {
        display: flex;
        flex-direction: row;
    }


}