/* .img_404{
    display: flex;
 
    background-image: url;
    width: 1920px;
    height: 1020px;
} */

/* .img_404{
    display: flex;
    align-items: center;
    width: 1920px;
    height: auto;
} */
